header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

.logo, nav {
    height: 32px;
}

nav {
    margin-left: auto;
}

.items {
    display: flex;
}

nav a {
    padding: 0px 8px;
    text-decoration: none;
}