body {
    background-color: #f8f8f8;
}

header {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 16px;
}

.logo-container, nav {
    height: 32px;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
}

.logo-container span {
    text-align: center;
    font-size: 24px;
}

.logo-container .academy {
    color: gray;
}

nav {
    margin-left: auto;
}

nav a {
    padding: 0px 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.banner {
    background-color: #d8d8d8;
    display: flex;
}

.banner .cta {
    padding-left: 24px;
    width: 25%;
}

.banner img {
    width: 60%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.cta {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta button {
    background-color: black;
    color: white;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.info {
    display: flex;
    padding: 32px 0px 32px 24px;
}

.info .left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.info .left img {
    object-fit: scale-down;
    object-position: left top;
}

.info .left h1 {
    padding-top: 32px;
    font-size: 3rem;
}

.info .left p {
    padding-top: 24px;
    font-size: 1.75rem;
}

.info .left span {
    font-size: 1.25rem;
}

.info .right {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    border-left: solid #d8d8d8;
}

.orientation, .campus, .guest-lecture {
    display: flex;
    padding-left: 16px;
    padding-bottom: 16px;
}

.campus, .guest-lecture {
    padding-top: 16px;
}

.campus {
    border-top: thick double lightgray;
}

.guest-lecture {
    background-color: #d8d8d8;
}

.info .right img {
    width: 35%;
    object-fit: cover;
    object-position: top left;
}

.details {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.info .right h3 {
    font-size: 2.5rem;
}

.info .right p {
    font-size: 1.75rem;
}

.info .right a {
    font-size: 1.5rem;
    text-decoration: none;
}

.learning {
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.learning .title {
    padding-top: 32px;
}

.learning .title span {
    font-size: 50px;
    font-weight: bold;
}

.cubes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px 72px;
}

.cube {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 25%;
}

.cube-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 55%;
    text-align: left;
}

.course-name {
    font-weight: bold;
    font-size: 32px;
    padding-top: 28px;
    margin: 0% 10%;
}

.cube-info .word-courses, p {
    font-size: 24px;
    padding-top: 16px;
    margin: 0% 10%;
}

.cube-info p {
    padding-bottom: 24px;
}

.thesis {
    display: flex;
    flex-direction: column;
}

.thesis .title {
    padding-top: 32px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.bottom-thesis-section {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.video-section, .other-thesis {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.video-section {
    min-width: 50%;
    max-width: 60%;
}

.video-section video {
    object-position: left top;
    width: 100%;
}

.video-section .urban {
    padding-top: 24px;
}

.urban p {
    margin: 0 auto;
    padding-right: 8px;
    color: darkgrey;
}

.other-thesis {
    /* initial flex declarations included in selector above*/
    align-items: flex-start;
}

.fisma {
    background-color: #d8d8d8;
}

.fisma, .now-and-then {
    display: flex;
    padding: 16px 0px 16px 16px;
}

.other-thesis .item {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    align-items: left;
    justify-content: center;
}

.other-thesis img {
    min-width: 35%;
    max-width: 36%;
    height: auto;
    object-position: center;
    object-fit: scale-down;
}

.other-thesis .title {
    text-align: left;
    font-size: 2.75rem;
    padding-top: 0px;
}

.other-thesis .description {
    padding-top: 16px;
    font-size: 1.75rem;
    color: gray;
}
